# Configuration files
config.ini

# Virtual environments
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# Diagnostic scripts
log_streamer.py
diff.py

# Status files
status.json
example-status.json

# API cache
last_update.txt
spark-tracks.json

# IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg