<!-- Created by LeviSnoot -->
<!-- https://github.com/LeviSnoot/FNFest-Status -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortnite Festival Widget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container" id="container">
        <div id="status">
            <div id="album_art">
                <img id="current_album_art" src="" alt="Album Art" style="display: none;">
            </div>
            <div id="text_info">
                <div id="artist"><span id="current_artist">Artist N/A</span></div>
                <div id="song"><span id="current_song">Song N/A</span></div>
                <div id="instrument">
                    <img id="instrument_icon" src="" alt="Instrument Icon" style="display: none;">
                    <img id="intensity_icon" src="" alt="Intensity Icon" style="display: none;">
                    <img id="difficulty_icon" src="" alt="Difficulty Icon" style="display: none;">
                </div>
                <span id="instrument_name" style="display: none;"></span>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>